*{
    margin: 0px;
    padding: 0px;
}

.header_right .material-symbols-outlined{
    color: rgb(90, 88, 88);
}
.header_middle .material-symbols-outlined{
    color: rgb(90, 88, 88);
}
/*header*/

.header_left img{
    object-fit: contain;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
}
.header{
    display: flex;
    align-items:center ;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
}
.header_left{
    display: flex;
    align-items: center;
}

.header_left span{
    padding: 10px;
    cursor: pointer;
}
.header_middle{
    display: flex;
    flex: 0.7;
    align-items: center;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
}
.material-icons{
    color: gray;
}
.header_middle input{
    border: none;
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: medium;
    background-color: transparent;
}

.header_right{
    display: flex;
    padding-right: 20px;
}

.header_right span{
    padding: 10px;
    cursor: pointer;
}

/*sidebar css*/

.sidebar{
    flex: 0.3;
    max-width: 300px;
    padding-right: 20px;
    background-color: whitesmoke;
}

.sidebar_compose{
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: rgb(32, 30, 30);
    padding: 15px;
    border-radius: 16px;
    background-color: #a8c7fa;
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
    height: 40px;
box-shadow: 0px 2px 5px -2px rgba(0, 0,0, 0.75);
}

.sidebar_compose span{
    margin-right: 5px;
}

.sidebaroption{
     display: flex;
     align-items: center;
     height: 40px;
     padding: 0 10px;
     border-top-right-radius: 20px;
     border-bottom-right-radius: 20px;
     cursor: pointer;
     color:black;
     background-color: whitesmoke;
}

.sidebaroption .material-icons.material-symbols-outlined{
    padding: 5px;
    color: black;
}

.sidebaroption h3{
    flex: 3;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400px;
}
.sidebaroption_active{
    background-color: #c8dbf8;
    
    font-weight: 800;
    color: black;
}

.sidebaroption_active .material-icons{
    color: black;

}

.sidebaroption .material-icons .material-symbols-outlined{
    color: black;
    background-color: black;
  
}
.material-symbols-outlined{
    color: rgb(31, 30, 30);
}


.sidebaroption:hover,
.sidebaroption:hover .material-icons,
.sidebaroption_active .material-symbols-outlined .material-icons
{
 background-color: #e6f0ff;
}

.sidebar_footer{
    
    justify-content: center;
}

.sidebar_footericons .material-icons.material-symbols-outlined{
    margin: 7px;
    cursor: pointer;
}

/**main body*/

.main_body{
    display: flex;
    height: 100vh;

}

body{
    height: 100vh;
    overflow-y: hidden;
}
/*email lsit*/
.emaillist{
flex: 1;
overflow: scroll;
}
.emaillist_setting{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between
    ;
    border-bottom: 1px solid whitesmoke;
    background-color:rgb(255, 251, 251);
    z-index: 999;
    padding: 8px;
}

.emaillist_settingLeft{
    display: flex;
    align-items: center;
}
.emaillist_setting .material-icons{
    margin: 5px;
    cursor: pointer;
}

.section{
    display: flex;
    align-items: center;
    border-bottom-width: 2px;
    padding: 15px;
    min-width: 200px;
    cursor: pointer;
    color: rgb(255, 251, 251);
    border-width: 0;
}

.emaillist_section{
    position: sticky;
    top: 0;
    display: flex;
    background-color: rgb(255, 251, 251);
    border-bottom: 1px solid rgb(255, 251, 251);
    z-index: 999;
}

.section_selected{
    background-color: rgb(255, 251, 251);
    border-width: 3px;
    color: rgb(1, 9, 44);
    border-bottom: 3px solid rgb(255, 252, 252);
    border-bottom-color: rgb(1, 9, 44);
}

.section_selected .material-icons{
    color: rgb(4, 27, 77);
}
.section:hover{
    background-color: rgb(240, 240, 241);

    border-width: 3px;

}

.section h4{
    font-size: 14px;
    margin-left: 15px;
    color: rgb(90, 89, 89);
}

.section .material-symbols-outlined {
    color: rgb(90, 89, 89);
}


.emailrow_option{
    display: flex;
    align-items: center;
}
.emailrow_option .material-icons,input{
    margin: 5px;
}
.email_row{
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid wheat;
    cursor: pointer;
    z-index: 999;
}

.email_row:hover{
    border-top: 1px solid whitesmoke;
    box-shadow: 0 4px 4px -2px rgba(0, 0,0, 0.24);
}

.emailrow_message{
    display: flex;
    flex:0.8;
    align-items: center;
    font-size: 13px;
    color: rgb(90, 89, 89);
}

.emailrow_message h4{
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    padding-right: 5px;
}
.emailrow_title{
    color: rgb(90, 89, 89);
    font-size: 13px;
    flex: 0.3;
}
.emailrow_time{
    padding-right: 15px;
    font-size: 10px;
    font-weight: bold;
    color: rgb(90, 89, 89);

}
.emailRow_description{
    font-weight: 400;
    color: rgb(90, 89, 89);
}


